<div class="container hidden">
    <div class="row top-30">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-light" href="/lists">Go to Lists</a>
        </div>
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-light" href="/search">Search for Gifts</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form id="itemInput" class="card large sticky-action #b71c1c red darken-4">
                <div class="form-group">
                    <label for="title">Name of Gift Item</label>
                    <input placeholder="Gift Item Name" type="text" class="form-control" id="itemname">
                    <br />
                    <label for="body">Description of Gift Item</label>
                    <textarea placeholder="Gift Item Description" class="form-control" rows="10"
                        id="itemdesc"></textarea>
                    <div class="form-group">
                        <label for="category">Select List:</label>
                        <select class="custom-select" id="listMemb">
                        </select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Custom Script -->
<script src="js/items.js" type="text/javascript"></script>
{{!--
<script type="text/javascript" src="js/materialize.min.js"></script> --}}


